* {
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

section {
	margin: 5% 20%;
}

body, html {
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	text-align: right;
	margin: 2% 0 0 55% ;
	padding: 0 2.5% 0 0;
	font-size: 25px;
	background-color: rgba(0,33,0,0.4);
	border-radius: 15px;

}

nav a {
	color: #000;
}

header {
	background:url("img/danauberatan.jpg");
	height: 100vh;
	background-size: cover;
}

li {
	display: inline;
	list-style: none;
	text-align: right;
	margin: 20px;

}

a {
	font color: black;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	float: right;
	width: 300px;
	margin: 0 3%;
}

p {
	font-size: 18px;
	line-height: 30px;
}